.hero-section {
  padding: 188px 0;
}

.bg-deep-blue .moto {
  margin: 0 auto;
  width: 496px;
  color: #ffffff;
  text-align: center;
}

.order-btn {
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  max-width: 169px;
  border-radius: 4px;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.hero-container {
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
