.portfolio-container {
  flex-direction: column;
  gap: 24px;
}

.portfolio-list {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  line-height: 1.2;
}

.portfolio-item-caption {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
